@model List<user>

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="page-contents align-content-between" class="row merged20">
                        <div class="col-lg-9">
                            <div class="main-wraper align-center">
                                <h4 class="main-title"><i class="feather feather-users"></i> Add friends</h4>
                                <div class="row">
                                    @foreach (var user in Model)
                                    {
                                        <div class="col-lg-3 col-md-4 col-sm-4">
                                            <div class="group-box">
                                                <figure><img src="~/user_image/@user.user_image" asp-append-version="true"></figure>
                                                <a title="" href="#">@user.user_username</a>
                                                <form asp-controller="User" asp-action="CreateFriendRequest" method="post">
                                                    <input type="hidden" name="senderId" value="@Model[0].user_id" /> <!-- Replace with the actual sender's ID -->
                                                    <input type="hidden" name="receiverId" value="@user.user_id" />
                                                    <button type="submit"@*@Url.Action("CreateFriendRequest","User")*@*>Add Friend</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
