<h1 class="align-center">Welcome INDEX Page</h1>
<section>
	<div class="gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div id="page-contents" class="row merged20">
						<div class="col-lg-3">
							<aside class="sidebar static left">
								<div class="widget whitish low-opacity">
									<img src="~/images/time-clock.png">
                                    <div class="bg-image" style="background-image:url('~/images\time-bg.jpg');"></div>
									<div class="date-time">
										<div class="realtime">
											<span id="hours">00</span>
											<span id="point">:</span>
											<span id="min">00</span>
										</div>
										<span id="date"></span>
									</div>
								</div>
								<div class="widget">
									<h4 class="widget-title">Complete Your Profile</h4>
									<span>Your Profile is missing followings!</span>
									<div data-progress="tip" class="progress__outer" data-value="0.67">
										<div class="progress__inner">82%</div>
									</div>
									<ul class="prof-complete">
										<li><i class="icofont-plus-square"></i> <a href="#" title="">Upload Your Picture</a><em>10%</em></li>
										<li><i class="icofont-plus-square"></i> <a href="#" title="">Your University?</a><em>20%</em></li>
										<li><i class="icofont-plus-square"></i> <a href="#" title="">Add Payment Method</a><em>20%</em></li>
									</ul>
								</div><!-- complete profile widget -->
							</aside>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- content -->
	