@model List<Friendrequest>

<section>
    <div class="gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div id="page-contents align-content-between" class="row merged20">
                        <div class="col-lg-9">
                            <div class="main-wraper align-center">
                                <h4 class="main-title"><i class="feather feather-users"></i> Friend Requests</h4>
                                <div class="friend-request-list">
                                    @foreach (var request in Model)
                                    {
                                        <div class="friend-request">
                                            <div class="friend-request-user">
                                                <img src="~/user_image/@request.sender_id." alt="User Image" />
                                                <span>@request.sender_id</span>
                                            </div>
                                            <div class="friend-request-buttons">
                                                <form asp-controller="User" asp-action="AcceptFriendRequest" method="post">
                                                    <input type="hidden" name="reqId" value="@request.Req_id" />
                                                    <button type="submit" class="btn btn-success">Accept</button>
                                                </form>
                                                <form asp-controller="User" asp-action="RejectFriendRequest" method="post">
                                                    <input type="hidden" name="reqId" value="@request.Req_id" />
                                                    <button type="submit" class="btn btn-danger">Reject</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
