@{
	Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from wpkixx.com/html/socimo/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Aug 2023 18:42:49 GMT -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Socimo | Social Media Network </title>
    <link rel="icon" href="~/images/fav.png" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="~/css/main.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/color.css">
    <link rel="stylesheet" href="~/css/responsive.css">

</head>
<body>
@*<div class="page-loader" id="page-loader">

  <div class="loader"><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span></div>

</div><!-- page loader -->*@
<div class="theme-layout">
	
	<div class="authtication bluesh low-opacity">
		
		<ul class="welcome-caro">
			
			<li class="welcome-box">
			<img src="~/images/download.png"alt="">
			</li>
			
		</ul>
	</div>

	<div class="auth-login">
		<div class="logo"><img src="~/images/logo.png" alt=""><span>E-Project</span></div>
		<div class="mockup left-bottom"><img src="~/images/mockup.png" alt=""></div>
		<div class="verticle-center">
			<div class="login-form">
					
				<h4><i class="icofont-key-hole"></i> Login</h4>
				<form method="post" class="c-form">
					<input type="text" placeholder="User Email"name="userEmail">
						<input type="password" placeholder="xxxxxxxxxx" name="userPassword">
					<div class="checkbox">
						<input type="checkbox" id="checkbox" checked>
						<label for="checkbox"><span>Remember Me</span></label>
					</div>
					<button class="main-btn" type="submit"><i class="icofont-key"></i> Login</button>
				</form>
					<a href="@Url.Action("userRegistration","User")"
					   style="font-size: 18px; letter-spacing: 1px; font-weight: bold; text-align: center; display: block;">
						Don't
						Have
						an
						Account? Sign
						Up
					</a>
				<div class="card-footer text-center py-3">
						<div class="small"><h5 class="text-danger">@ViewBag.message</h5></div>
					</div>
			</div>
		</div>
		<div class="mockup right"><img src="~/images/star-shape.png" alt=""></div>
	</div>
	
</div>
	
	<script src="~/j/s/main.min.js"></script>
	<script src="~/js/script.js"></script>
	

</body>	

<!-- Mirrored from wpkixx.com/html/socimo/sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 19 Aug 2023 18:42:53 GMT -->
</html>