<section>
	<div class="gap">
		<div class="container">
			<div class="row justify-content-md-center">
				<div class="col-lg-11">
					<div class="main-wraper">
						<h4 class="main-title">Our Prices</h4>
						<h6 class="mb-4">Our prices included with tax and charged automated every month of 1st.</h6>
						<div class="price-plan-wraper">
							<table class="table table-striped table-responsive-md">
								<thead>
									<tr>
										<th>Package Features</th>
										<th>
											<ins>Basic</ins>
											<span>Rs.1000/ 15 Days</span>
										</th>
										<th>
											<ins>Professional</ins>
											<span>Rs.1500 / 1 Month</span>
										</th>
										<th>
											<ins>Advanced</ins>
											<span>Rs.7000 / 6 Month</span>
										</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<h6>Political</h6>
											<a href="#" data-toggle="tooltip" title="Aenean ac suscipit nibh. Sed tristique, mauris id venenatis faucibus, mi risus suscipit tortor, eleifend dignissim dolor enim in eros. Etiam finibus dui lectus">
												<i class="icofont-exclamation-circle"></i>
											</a>
										</td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
									</tr>
									<tr>
										<td>
											<h6>Buisness</h6>
											<a href="#" data-toggle="tooltip" title="Aenean ac suscipit nibh. Sed tristique, mauris id venenatis faucibus, mi risus suscipit tortor, eleifend dignissim dolor enim in eros. Etiam finibus dui lectus">
												<i class="icofont-exclamation-circle"></i>
											</a>
										</td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
									</tr>
									<tr>
										<td>
											<h6>Electronic</h6>
											<a href="#" data-toggle="tooltip" title="Aenean ac suscipit nibh. Sed tristique, mauris id venenatis faucibus, mi risus suscipit tortor, eleifend dignissim dolor enim in eros. Etiam finibus dui lectus">
												<i class="icofont-exclamation-circle"></i>
											</a>
										</td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
									</tr>
									<tr>
										<td>
											<h6>Entertainment</h6>
											<a href="#" data-toggle="tooltip" title="Aenean ac suscipit nibh. Sed tristique, mauris id venenatis faucibus, mi risus suscipit tortor, eleifend dignissim dolor enim in eros. Etiam finibus dui lectus">
												<i class="icofont-exclamation-circle"></i>
											</a>
										</td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
									</tr>
									<tr>
										<td>
											<h6>Culture </h6>
											<a href="#" data-toggle="tooltip" title="Aenean ac suscipit nibh. Sed tristique, mauris id venenatis faucibus, mi risus suscipit tortor, eleifend dignissim dolor enim in eros. Etiam finibus dui lectus">
												<i class="icofont-exclamation-circle"></i>
											</a>
										</td>
										<td class="not-included"><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
									</tr>
									<tr>
										<td>
											<h6>Art</h6>
											<a href="#" data-toggle="tooltip" title="Aenean ac suscipit nibh. Sed tristique, mauris id venenatis faucibus, mi risus suscipit tortor, eleifend dignissim dolor enim in eros. Etiam finibus dui lectus">
												<i class="icofont-exclamation-circle"></i>
											</a>
										</td>
										<td class="not-included"><i class="icofont-verification-check"></i></td>
										<td class="not-included"><i class="icofont-verification-check"></i></td>
										<td><i class="icofont-verification-check"></i></td>
									</tr>
								
									<tr>
										<td colspan="1"></td>
										<td>
											<a href="#" title="" class="button outline-primary">Choose Plan</a>
										</td>
										<td>
											<a href="#" title="" class="button outline-primary">Choose Plan</a>
										</td>
										<td>
											<a href="#" title="" class="button outline-primary">Choose Plan</a>
										</td>
									</tr>
								</tbody>
							</table>
							<h5><i class="icofont-crown-queen"></i> More Powerful Features <b>Coming Soon!</b></h5>
						</div>
					</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
